@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Azeret Mono", monospace; */

*{
  margin: 0;
  padding: 0;
}

body {
  font-family:"Azeret Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

header {
  padding: 20px 0;
}

header h1 {
  position: absolute;
width: 114px;
height: 34px;
left: 150px;
top: 20px;

}

header .btn {
  float: right;
  margin-top: 30px;
  padding: 17px 24px 17px 24px;
  color: rgb(13, 19, 33);
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.8;

}

#hero{
  margin-top: 100px;
  height : 580px;
  background-image: url(../assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

#hero .hero-content{
  width: 888px;

}
#hero .hero-content .title{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 36px;
font-weight: 700;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}

#hero .hero-content .subtitle{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 30px;

}

  #hero .hero-content .btn {
    padding: 17px 14px 17px 14px;
  
    text-decoration: none;
    border-radius: 8px;

background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
  }

  .btn-container{
   text-align: center;
  }

  #hero .hero-content .icon{
    margin-left: 350px;
  }


  